<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd ">

    <bean id="user" class="com.spring.aop.IoC.exercise.User">
        <constructor-arg name="account" value="baby"/>
        <constructor-arg name="password" value="123"/>
    </bean>

    <bean id="userlogin" class="com.spring.aop.IoC.exercise.UserLogin">
        <property name="user" ref="user"/>
    </bean>

</beans>